<script>

</script>

<div class="container">
  <h1>Rates</h1>
  <table border="1">
    <thead>
      <tr>
        <td><b>Paridad</b></td>
        <td><b>Capitaria</b></td>
        <td><b>Yahoo</b></td>
        <td><b>Bloomberg</b></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>USDCLP</b></td>
        <td><%= @capitaria_USDCLP %></td>
        <td><%= @yahoo_USDCLP %></td>
        <td><%= @bloomberg_USDCLP %></td>
      </tr>
      <tr>
        <td><b>EURCLP</b></td>
        <td><%= @capitaria_EURCLP %></td>
        <td><%= @yahoo_EURCLP %></td>
        <td><%= @bloomberg_EURCLP %></td>
      </tr>
      <tr>
        <td><b>GBPCLP</b></td>
        <td><%= @capitaria_GBPCLP %></td>
        <td><%= @yahoo_GBPCLP %></td>
        <td><%= @bloomberg_GBPCLP %></td>
      </tr>
    </tbody>
  </table>
</div>
